.buttonContainer {
    padding: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: max-content;
    font-weight: 500;
     }

     .buttonContainer:hover,
.buttonContainer:focus {
  outline: 2px solid #000; /* Add border outline */
}